#regForm {
    margin-top: 40px;
    background-color: #ffffff;
    width: 70%;
    min-width: 300px;
    padding: 40px;
    border: 5px solid black;
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
}

input.invalid {
    background-color: #ffdddd;
}

.tab {
    display: none;
}

.modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}